<div class="container">
    <h1>Forgot Password</h1>
    <div class="logo">
      <img src="../../assets/kajas_black.png" alt="Kajas Logo">
    </div>
    <h3>"No worries, we got you covered!"</h3>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group-wrapper">
            <div class="form-group">
                <input type="email" id="user_email" formControlName="email" 
                    placeholder="Email Address">
               <div *ngIf="forgotPasswordForm.get('email').touched &&  
                    forgotPasswordForm.get('email').invalid" 
                        class="error-message"> {{ getEmailErrorMessage() }}
            </div>
          </div>
      </div>
      <button class="confirm" type="submit" 
        [disabled]="forgotPasswordForm.invalid">Confirm</button>
      <button class="cancel" type="button" (click)="onCancel()">Cancel</button>
    </form>
  </div>
  


<app-modal-message *ngIf="showModal" [message]="modalMessage" 
    (closeModal)="closeModal()"></app-modal-message>