@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    text-align: center;
    background-color: #E2D6C8;
    padding: 20px;
    width: 450px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
}

.container h1 {
    color: #3E3E3E;
    font-size: xx-large;
}

.container h3 {
    color: #7A7A7A;
    font-weight: 600;
    font-size: x-large;
    font-style: italic;
}

.logo img {
    width: 100%;
    max-width: 200px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.logo img:hover {
    transform: translateY(-8px);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

form .form-group {
    position: relative;
    width: 100%;
    margin-bottom: 5px; 
}

input[type="email"] {
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    width: 75%;
}

button.confirm {
    font-family: 'Montserrat';
    font-size: large;
    padding: 10px;
    width: 80%;
    background-color: #3E3E3E;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10%;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button.confirm:hover {
    background-color: #555;
    transform: translateY(-8px);
}

button.cancel {
    font-family: 'Montserrat';
    font-size: large;
    padding: 10px;
    width: 80%;
    background-color: #CCC;
    color: #3E3E3E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 10%;
    margin-bottom: 5px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button.cancel:hover {
    background-color: #AAA;
    transform: translateY(-8px);
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    font-size: 0.7em;
    position: absolute;
    top: -30px; 
    right: 10%;
    width: 70%;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1;
    pointer-events: none;
}
  
.error-message::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 10px;
    border-width: 10px;
    border-style: solid;
    border-color: #f8d7da transparent transparent transparent;
}
  
.form-group .error-message {
    position: absolute;
    top: -35px; 
    right: 10%;
    width: 70%;
}

input[type="email"].ng-touched.ng-invalid {
    border: 1px solid #721c24;
}
  
.form-group input.ng-touched.ng-invalid ~ .error-message,
.form-group input.ng-dirty.ng-invalid ~ .error-message {
    opacity: 0.8;
    visibility: visible;
}
  
@media only screen and (max-width: 768px) {
    .container {
        width: 200px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container h1 {
        font-size: medium;
    }
    
    .container h3 {
        font-size: small;
    }
    
    .logo img {
        width: 100%;
        max-width: 150px;
    }

    form {
        gap: 2.5px;
    }

    form .input-group {
        width: 100%;
    }

    input[type="email"] {
        padding: 5px;
        font-size: x-small;
    }

    button.confirm, button.cancel {
        font-size: xx-small;
        padding: 5px;
        width: 80%;
        margin-top: 5px;
        margin-bottom: 0;
    }

    button.cancel {
        margin-bottom: 0;
    }
    
    .error-message {
        padding: 5px;
        border-radius: 5px;
        font-size: 0.3em;
        top: -20px; 
        width: 70%;
    }
      
    .error-message::before {
        bottom: -10px;
        left: 10px;
        border-width: 5px;
    }
      
    .form-group .error-message {
        top: -20px;
    }
}
