<div class="container">
    <h1>Forgot Password</h1>
    <div class="logo">
      <img src="../../assets/kajas_black.png" alt="Kajas Logo">
    </div>
    <h3>"No worries, we got you covered!"</h3>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group-wrapper">
            <div class="form-group">
                <input 
                  type="email" 
                  id="user_email" 
                  formControlName="email" 
                  placeholder="Email Address">
                @if(forgotPasswordForm.get('email').touched && 
                  forgotPasswordForm.get('email').invalid) {
                    <div class="error-message"> 
                      {{ getEmailErrorMessage() }}
                    </div>
                }
            </div>
      </div>
      <button class="confirm" type="submit">Confirm</button>
      <button class="cancel" type="button" (click)="onCancel()">Cancel</button>
    </form>
</div>

@if (showModal) {
  <app-modal-message [message]="modalMessage" 
    (closeModal)="closeModal()"></app-modal-message>
}

@if (showLoader) {
  <app-loader-modal [message]="modalMessage"></app-loader-modal>
}