<app-home-header></app-home-header>

<div class="main-container">
    <div class="container">
        <h1>How to Use Kajas</h1>
        <div class="steps">
            <div class="step-group">
                <img src="../../../assets/icons/signup.png" alt="sign up">
                <h2>Step 1: Sign Up</h2>
                <p>Create your free account to get started.</p>
            </div>

            <div class="step-group">
                <img src="../../../assets/icons/upload.png" alt="upload">
                <h2>Step 2: Upload Your Work</h2>
                <p>Upload your creative assets to your portfolio.</p>
            </div>

            <div class="step-group">
                <img src="../../../assets/icons/share.png" alt="share">
                <h2>Step 3: Share Your Portfolio</h2>
                <p>Share your portfolio with the world.</p>
            </div>
        </div>
    </div>
</div>