<app-header></app-header>

<div class="settings-container">
    <div class="modal">
        <div class="modal-content">
            <div class="left-column">
                <h1>Settings</h1>
                <ul class="tabs">
                    <li 
                        class="tab-link" 
                        (click)="selectTab('change-email')">
                        Change Email
                    </li>

                    <li 
                        class="tab-link" 
                        (click)="selectTab('change-password')">
                        Change Password
                    </li>

                    <li 
                        class="tab-link" 
                        (click)="selectTab('help-and-support')">
                        Help & Support
                    </li>

                    <li 
                        class="tab-link" 
                        (click)="selectTab('terms-conditions')">
                        Terms & Conditions
                    </li>

                    <li 
                        class="tab-link" 
                        (click)="selectTab('privacy-policy')">
                        Privacy Policy
                    </li>

                    <li 
                        class="tab-link" 
                        (click)="selectTab('deactivate-account')">
                        Deactivate Account
                    </li>
                </ul>
            </div>
            <hr class="divider">
            <div class="right-column">
                <app-change-email 
                    *ngIf="selectedTab === 'change-email'">
                </app-change-email>

                <app-change-password 
                    *ngIf="selectedTab === 'change-password'">
                </app-change-password>

                <app-help-and-support
                *ngIf="selectedTab === 'help-and-support'">
                </app-help-and-support>

                <app-deactivate-account 
                    *ngIf="selectedTab === 'deactivate-account'">
                </app-deactivate-account>

                
            </div>
        </div>
    </div>
</div>

