<app-header></app-header>
<div class="settings-container">
    <div class="modal">
        <div class="modal-content">
            <span class="close" (click)="close()">&times;</span>
            <div class="left-column">
                <h1>Settings</h1>
                <ul class="tabs">
                    <li 
                        class="tab-link" 
                        [class.selected]="selectedTab === 'change-email'"
                        (click)="selectTab('change-email')">
                        Change Email
                    </li>

                    <li 
                        class="tab-link" 
                        [class.selected]="selectedTab === 'change-password'"
                        (click)="selectTab('change-password')">
                        Change Password
                    </li>

                    <li 
                        class="tab-link" 
                        [class.selected]="selectedTab === 'help-and-support'"
                        (click)="selectTab('help-and-support')">
                        Help & Support
                    </li>

                    <li 
                        class="tab-link" 
                        [class.selected]="selectedTab === 'terms-conditions'"
                        (click)="selectTab('terms-conditions')">
                        Terms & Conditions
                    </li>

                    <li 
                        class="tab-link" 
                        [class.selected]="selectedTab === 'privacy-policy'"
                        (click)="selectTab('privacy-policy')">
                        Privacy Policy
                    </li>

                    <li 
                        class="tab-link" 
                        [class.selected]="selectedTab === 'deactivate-account'"
                        (click)="selectTab('deactivate-account')">
                        Deactivate Account
                    </li>
                </ul>
            </div>
            <hr class="divider">
            <div class="right-column">
                @if (selectedTab === 'change-email') {
                    <app-change-email 
                        (showModalEvent)="showModalMessage($event)">
                    </app-change-email>
                }

                @if (selectedTab === 'change-password') {
                    <app-change-password
                        (showModalEvent)="showModalMessage($event)">
                    </app-change-password>
                }

                @if (selectedTab === 'help-and-support') {
                    <app-help-and-support
                        (showModalEvent)="showModalMessage($event)">
                    </app-help-and-support>
                }

                @if (selectedTab === 'terms-conditions') {
                    <app-terms-and-conditions></app-terms-and-conditions>
                }

                @if (selectedTab === 'privacy-policy') {
                    <app-privacy-policy></app-privacy-policy>
                }

                @if (selectedTab === 'deactivate-account') {
                    <app-deactivate-account
                        (showModalEvent)="showModalMessage($event)"
                        (openConfirmModalEvent)="handleOpenConfirmModalEvent($event)">
                    </app-deactivate-account>
                }
            </div>
        </div>
    </div>
</div>

@if (showModal) {
    <app-modal-message [message]="modalMessage" 
      (closeModal)="closeModal()"></app-modal-message>
}

@if(showConfirmModal) {
    <app-confirm-cancel-modal 
      [message]="modalMessage" 
      (confirmAction)="confirmDeactivate()" 
      (cancelAction)="cancelDeactivate()"
      (closeModal)="closeConfirmModal()">
    </app-confirm-cancel-modal>
}