.settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal {
    background-color: #d6c4b3;
    margin-top: 10%;
    max-height: 80vh;
    overflow: hidden;
    margin-bottom: 5%;
    padding:  60px;
    border-radius: 10px;
    width: 60%;
}

h1 {
    color: #4D493E;
    font-size: xx-large;
    margin: 0;
    margin-bottom: 20px;
}

.modal-content {
    display: flex;
    position: relative;
}

.close {
    position: absolute;
    top: -40px;
    right: -30px;
    background: none;
    border: none;
    font-weight: 800;
    font-size: medium;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #3E3E3E;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.close mat-icon {
    font-weight: 900;
}

.close:hover {
    transform: scale(1.1);
}

.left-column {
    color: #4D493E;
    padding: 16px 0 16px 16px;
    width: 25%;
    overflow-y: auto;
}

.divider {
    border: none;
    border-left: 5px solid #8C7B75;
    height: auto;
    margin: 0 20px 0 0;
}

.right-column {
    width: 75%;
    overflow-y: auto;
    max-height: calc(80vh - 25vh);
    scrollbar-color: #3E3E3E #d6c4b3; 
    scrollbar-width: thin; 
}

.tabs {
    list-style-type: none;
    padding: 0;
}

.tabs .tab-link {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 8px;
}

.tabs .tab-link:hover,
.tabs .tab-link.selected {
    color: #fff;
    background-color: #8C7B75;
}

.tab-content {
    display: none;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    font-size: 0.7em;
    position: absolute;
    top: -30px; 
    right: 10%;
    width: 70%;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1;
    pointer-events: none;
}

.error-message::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 10px;
    border-width: 10px;
    border-style: solid;
    border-color: #f8d7da transparent transparent transparent;
}

.form-group .error-message {
    position: absolute;
    top: -35px; 
    right: 10%;
    width: 70%;
}

input[type="email"].ng-touched.ng-invalid {
    border: 1px solid #721c24;
}

.form-group input.ng-touched.ng-invalid ~ .error-message,
.form-group input.ng-dirty.ng-invalid ~ .error-message {
    opacity: 0.8;
    visibility: visible;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .settings-container {
        height: 80%;
        margin-top: 20%;
    }
    
    .modal {
        margin-bottom: 10%;
        width: 60%;
        padding: 30px;
        height: 80%;
        max-height: 80vh;
    }

    .modal-content {
        position: relative;
        flex-direction: column;
    }

    h1 {
        font-size: large;
        margin: 0px 0 10px 8px;
    }

    .left-column {
        width: 100%;
        overflow-y: visible;
        padding: 0;
    }

    .tabs {
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
        border-bottom: 2px solid #8C7B75;
        font-size: 5px;
    }

    .tabs .tab-link {
        flex: 1;
        text-align: center;
        padding: 10px 5px;
        margin-bottom: 0;
    }

    .right-column {
        width: 100%;
        height: 100%;
    }

    .close {
        top: -7%;
        right: -7%;
        font-size: xx-small;
    }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .settings-container {
        margin-top: 10%;
    }

    .modal {
        padding-bottom: 50px;
    }

    h1 {
        font-size: x-large;
    }

    .tabs {
        font-size: x-small;
    }
    
    .close {
        top: -5%;
        right: -2%;
    }
}