<app-home-header></app-home-header>

<div class="main-container">
    <div class="container">
        <h1>Features of Kajas</h1>
        <div class="features">
            <div class="feature-group">
                <img src="../../../assets/icons/portfolio.png">
                <h2>Centralized Portfolio Management</h2>
                <p>Compile and organize your creative works in one place.</p>
            </div>

            <div class="feature-group">
                <img src="../../../assets/icons/uploading.png">
                <h2>Easy Upload and Management</h2>
                <p>Upload various creative assets, edit captions, and manage 
                    artwork details effortlessly.</p>
            </div>

            <div class="feature-group">
                <img src="../../../assets/icons/public.png">
                <h2>Public Visibility</h2>
                <p>Share your portfolio with targeted audiences through your
                    personal link.</p>
            </div>

            <div class="feature-group">
                <img src="../../../assets/icons/secure.png">
                <h2>Robust Security</h2>
                <p>Protect your data and artwork with our robust security 
                    measures.</p>
            </div>
        </div>
    </div>
</div>