@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.main-container {
    display: flex;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    background-image: url('../../assets/home_bg.png');
    background-size: cover;
}

.logo-mobile {
    display: none;
}

.logo img {
    width: 70%;
    margin-top: 5%;
    margin-left: 20%;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.logo img:hover {
    transform: scale(1.05); 
}

.container {
    text-align: center;
    background-color: #d6c4b3;
    padding: 60px;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
    margin-top: 5%;
    margin-right: 120px;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.container:hover {
    transform: scale(1.05); 
}

.container h1 {
    color: #3E3E3E;
    font-size: xx-large;
    margin-bottom: 24px;
}

p {
    display: flex;
    font-size: large;
    color: #3E3E3E;
    margin-bottom: 5%;
}

.action-buttons {
    display: flex;
    margin-left: 2%;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.action-buttons button {
    font-size: large;
    font-weight: 600;
    padding: 10px 20px;
    width: 180px;
    border-radius: 50px;
    cursor: pointer;
}

.log-in-button {
    color: #fff;
    background-color: #3D3D3D;
    border: 1px solid #fff;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-family: 'Montserrat', sans-serif;
}

.log-in-button:hover {
    color: #fff;
    background-color: #555;
    transform: translateY(-5px);
}

.sign-up-button {
    color: #3D3D3D;
    background-color: #fff;
    border: 1px solid #3D3D3D;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-family: 'Montserrat', sans-serif;
}

.sign-up-button:hover {
    transform: translateY(-5px);
}

@media only screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
        background-image: url('../../assets/home_mbg.png');
        background-size: cover;
    }

    .logo {
        display: none;
    }

    .logo-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 40px;
        margin-top: 15%;
    }
    
    .logo-mobile img { 
        width: 100%;
        margin: 0;
        margin-bottom: 5%;
    }

    .container {
        padding: 15px;
        margin: 10px 25px;
        max-width: 100%;
        margin-top: 10%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container h1 {
        font-size: medium;
        margin: 12px;
    }

    .action-buttons {
        gap: 6px;
    }

    .action-buttons button {
        font-size: small;
        margin-top: 5px;
        width: 60%;
        padding: 4px 10px;
        text-wrap: nowrap;
    }

    p {
        font-size: x-small;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .main-container {
        flex-direction: row;
    }
    
    .container {
        width: 30%;
    }

    .logo-mobile {
        margin-top: 10%;
    }
}