<app-home-header></app-home-header>

<div class="main-container">
    <div class="logo">
        <img src="../assets/kajas_black_glow.png" alt="Kajas Logo">
    </div>

    <div class="logo-mobile">
        <img src="../assets/kajas_black_glow.png" alt="Kajas Logo">
    </div>

    <div class="container">
        <h1>Unleash your Creative Effort with Kajas!</h1>
        <p>Showcase your artistry, customize, and manage your portfolio 
            seamlessly in one place.</p>
        <div class="action-buttons">
            <button routerLink="/login" class="log-in-button">Log In</button>
            <button routerLink="/signup" class="sign-up-button">Sign Up</button>
        </div>
    </div>
</div>