<app-header></app-header>
<div class="profile-container">
  <div class="container">
    <div class="profile-picture">
      <img [src]="profile" alt="Profile Picture" class="profile-picture" />
    </div>
    <div class="profile-info">
      <h1>{{ firstName }} {{ lastName }}</h1>
      <h2>{{ city }}, {{ country }}</h2>
      <p>{{ bio }}</p>
      <div class="social-links">
        <a [attr.href]="linkedin" [class.hidden]="!linkedin" target="_blank">
          <img src="../../assets/icons/linkedin.png" alt="LinkedIn" />
        </a>
        <a [attr.href]="facebook" [class.hidden]="!facebook" target="_blank">
          <img src="../../assets/icons/facebook.png" alt="Facebook" />
        </a>
        <a [attr.href]="instagram" [class.hidden]="!instagram" target="_blank">
          <img src="../../assets/icons/instagram.png" alt="Instagram" />
        </a>
        <a [attr.href]="website" [class.hidden]="!website" target="_blank">
          <img src="../../assets/icons/website.png" alt="Website" />
        </a>
        <a class="kajas-link" [href]="kajasLink" target="_blank"> 
          Share Profile</a>
      </div>
      <button class="edit-profile">EDIT PROFILE</button>
    </div>
  </div>
</div>

<div class="gallery-container">
  <div class="gallery">
    <div class="gallery-title">
      <h2>Gallery</h2>
    </div>
    <div class="gallery-button">
      <a href="#">
        <img src="../../assets/icons/edit.png" alt="Edit Gallery" />
        Edit
      </a>
    </div>
  </div>
</div>
<div class="gallery-grid">
  <div class="gallery-images">
    <div class="gallery-item horizontal">
      <img src="../../assets/default-profile.png" alt="Image 1" />
    </div>
    <div class="gallery-item horizontal">
      <img src="../../assets/default-profile.png" alt="Image 2" />
    </div>
    <div class="gallery-item horizontal">
      <img src="../../assets/default-profile.png" alt="Image 3" />
    </div>
    <div class="gallery-item vertical">
      <img src="../../assets/default-profile.png" alt="Image 4" />
    </div>
    <div class="gallery-item vertical">
      <img src="../../assets/default-profile.png" alt="Image 5" />
    </div>
    <div class="gallery-item horizontal">
      <img src="../../assets/default-profile.png" alt="Image 6" />
    </div>
  </div>
</div>
