<div class="profile-container">
  <div class="container">
    <div class="profile-picture">
      <img 
        [lazyLoad]="profile" 
        alt="Profile Picture"
        class="profile-picture" 
        [defaultImage]="'../../assets/default-profile.png'"
        [errorImage]="'../../assets/default-profile.png'" />
    </div>
    <div class="profile-info">
      <h1>{{ firstName }} {{ lastName }}</h1>
      <h2>{{ location }}</h2>
      <p>{{ bio }}</p>
      <div class="social-links">
        <a [attr.href]="linkedin" [class.hidden]="!linkedin" target="_blank">
          <img src="../../assets/icons/linkedin.png" alt="LinkedIn" />
        </a>
        <a [attr.href]="facebook" [class.hidden]="!facebook" target="_blank">
          <img src="../../assets/icons/facebook.png" alt="Facebook" />
        </a>
        <a [attr.href]="instagram" [class.hidden]="!instagram" target="_blank">
          <img src="../../assets/icons/instagram.png" alt="Instagram" />
        </a>
        <a [attr.href]="website" [class.hidden]="!website" target="_blank">
          <img src="../../assets/icons/website.png" alt="Website" />
        </a>
        <a class="kajas-link" (click)="copy(kajasLink)" target="_blank"> 
          Share Profile
        </a>        
      </div>
      <a routerLink="/edit-profile" class="edit-profile">Edit Profile</a>
    </div>
  </div>
</div>

<div class="gallery-container">
  <div class="gallery">
    <div class="gallery-title">
      <h2>Gallery</h2>
    </div>
    <div class="gallery-buttons">
      @if(showEditButtons) {
        <a class="gallery-button" routerLink="/add-artwork">
          <mat-icon>add</mat-icon>
            Add New Artwork
        </a>
      }  
      <a class="gallery-button" (click)="toggleEdit()">
        <mat-icon>{{ showEditButtons ? 'check' : 'edit' }}</mat-icon>
        {{ showEditButtons ? 'Done Editing' : 'Edit' }}
      </a>  
    </div>       
  </div>
</div>
<div class="gallery-grid">
  @if(paginatedArtworks().length) {
    <div class="gallery-images">
      @for(artwork of paginatedArtworks(); track paginatedArtworks()) {
        <div class="gallery-item">
          <img 
            [lazyLoad]="getAbsoluteUrl(artwork.image_url)" 
            [alt]="artwork.title" 
            [defaultImage]="'../../assets/default-artwork.png'"
            [errorImage]="'../../assets/default-artwork.png'"
            (click)="viewArtworkDetails(artwork)" />
          @if(showEditButtons) {
            <div class="trashbin-overlay" (click)="openDeleteModal(artwork)">
              <mat-icon>delete_outline</mat-icon>
            </div>
          }
        </div>
      }
    </div>
  }
  @if(!paginatedArtworks().length) {
    <p>{{ message }}</p>
  }
</div>

@if(paginatedArtworks().length) {
  <div class="pagination-controls">
    <button (click)="previousPage()" [disabled]="currentPage === 1">
      Previous
    </button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      Next
    </button>
  </div>
}

<div class="add-artwork-container">
  <a routerLink="/add-artwork" class="add-artwork">Add New Artwork</a>  
</div>

@if(showConfirmModal) {
  <app-confirm-cancel-modal 
    [message]="modalMessage" 
    (confirmAction)="deleteArtwork(selectedArtworkForDeletion.artwork_id)" 
    (cancelAction)="cancelDelete()"
    (closeModal)="closeModal()">
  </app-confirm-cancel-modal>
}

@if(showMessageModal) {
  <app-modal-message 
    [message]="modalMessage" 
    (closeModal)="closeMessageModal()">
  </app-modal-message>
}

@if (showLoader) {
  <app-loader-modal [message]="modalMessage"></app-loader-modal>
}