<div class="container">
    <h1>Reset Password</h1>
    <div class="logo">
        <img src="../../assets/kajas_black.png" alt="Kajas Logo">
    </div>

    <h3>"No worries, we got you covered!"</h3>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="input-group"> 
            <input 
                type="password" 
                formControlName="newPassword"
                id="new_password"
                placeholder="New Password">
            <input 
                type="password" 
                formControlName="confirmNewPassword"
                id="confirm_new_password"
                placeholder="Confirm New Password">
        </div>
        <button class="confirm" type="submit" [disabled]="resetPasswordForm.invalid">Reset Password</button>
    </form>
</div>
