@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container {
  text-align: center;
  background-color: #E2D6C8;
  padding: 20px;
  width: 450px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;
}

.container h1 {
  color: #3E3E3E;
  font-size: xx-large;
}

.container h3 {
  color: #7A7A7A;
  font-weight: 600;
  font-size: x-large;
  font-style: italic;
}

.logo img {
  width: 100%;
  max-width: 200px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.logo img:hover {
  transform: translateY(-8px);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.form-group-wrapper {
  position: relative;
}

.password-container {
  position: relative;
  width: 100%;
}

.password-container input {
  width: calc(100% - 20%);
}

input[type="password"],
input[type="text"] {
  padding: 10px;
  border: 1px solid #CCC;
  border-radius: 5px;
  width: calc(100% - 20%);
}

img.toggle-password {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 15px;
}

button.confirm {
  font-family: 'Montserrat';
  font-size: large;
  padding: 10px;
  width: 80%;
  margin-bottom: 20px;
  background-color: #3E3E3E;
  color: #FFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button.confirm:hover {
  background-color: #555;
  transform: translateY(-8px);
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  font-size: 0.7em;
  position: absolute;
  top: -30px;
  right: 8%;
  width: 60%;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1;
  pointer-events: none;
}

.error-message::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 10px;
  border-width: 10px;
  border-style: solid;
  border-color: #f8d7da transparent transparent transparent;
}

.form-group input.ng-touched.ng-invalid ~ .error-message,
.form-group input.ng-dirty.ng-invalid ~ .error-message {
  opacity: 0.8;
  visibility: visible;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container h1 {
    font-size: medium;
  }

  .container h3 {
    font-size: small;
  }

  .logo img {
    width: 100%;
    max-width: 150px;
  }

  form {
    gap: 2.5px;
  }

  input[type="password"],
  input[type="text"] {
    padding: 5px;
    font-size: x-small;
    margin-top: 5px;
  }

  img.toggle-password {
    width: 15px;
    height: 10px;
    margin-top: 3px;
  }

  button.confirm {
    font-size: xx-small;
    padding: 5px;
    width: 85%;
    margin-top: 5px;
  }

  .error-message {
    padding: 5px;
    border-radius: 5px;
    font-size: 0.3em;
    top: -12px;
    width: 70%;
  }

  .error-message::before {
    bottom: -10px;
    left: 10px;
    border-width: 5px;
  }
}
