@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    text-align: center;
    background-color: #E2D6C8;
    padding: 20px;
    width: 450px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.container:hover {
    transform: scale(1.05); 
}

.container h1 {
    color: #3E3E3E;
    font-size: xx-large;
}

.container h3 {
    color: #7A7A7A;
    font-weight: 600;
    font-size: x-large;
    font-style: italic;
}

.logo img {
    width: 100%;
    max-width: 200px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.logo img:hover {
    transform: translateY(-8px);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

form .input-group {
    position: relative;
    width: 75%;
    margin-bottom: 5px; 
}

input[type="email"], 
input[type="password"] {
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    width: 75%;
    margin-top: 10px;
}

button.confirm {
    font-family: 'Montserrat';
    font-size: large;
    padding: 10px;
    width: 80%;
    margin-bottom: 20px;
    background-color: #3E3E3E;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button.confirm:hover {
    background-color: #555;
    transform: translateY(-8px);
}

@media only screen and (max-width: 768px) {
    .container {
        width: 200px;
        height: 300px;
    }

    .container h1 {
        font-size: medium;
    }
    
    .container h3 {
        font-size: small;
    }
    
    .logo img {
        width: 100%;
        max-width: 150px;
    }

    form {
        gap: 2.5px;
    }

    form .input-group {
        width: 100%;
    }

    input[type="email"], 
    input[type="password"] {
        padding: 5px;
        font-size: smaller;
        margin-top: 5px;
    }


    button.confirm, button.cancel {
        font-size: small;
        padding: 5px;
        width: 85%;
        margin-top: 5px;
    }
}
