<div class="container">
  <h1>Reset Password</h1>
  <div class="logo">
    <img src="../../assets/kajas_black.png" alt="Kajas Logo">
  </div>

  <h3>"No worries, we got you covered!"</h3>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group-wrapper password-container">
      <div class="form-group">
        <input [type]="hidePassword ? 'password' : 'text'" 
               id="new_password" formControlName="newPassword" 
               placeholder="New Password" required>
        <img src="./assets/icons/{{hidePassword ? 'unsee' : 'see'}}.png" 
             alt="Toggle Password Visibility" class="toggle-password" 
             (click)="togglePasswordVisibility('password')">
        @if(resetPasswordForm.get('newPassword').invalid && 
          resetPasswordForm.get('newPassword').touched) {
          <div class="error-message">
            {{ getErrorMessage('newPassword') }}
          </div>
        }
      </div>
    </div>
    <div class="form-group-wrapper password-container">
      <div class="form-group">
        <input [type]="hideConfirmPassword ? 'password' : 'text'" 
               id="confirm_new_password" formControlName="confirmNewPassword" 
               placeholder="Confirm New Password" required>
        <img 
          src="./assets/icons/{{hideConfirmPassword ? 'unsee' : 'see'}}.png" 
             alt="Toggle Password Visibility" class="toggle-password" 
             (click)="togglePasswordVisibility('confirmPassword')">
        @if(resetPasswordForm.get('confirmNewPassword').invalid &&
           resetPasswordForm.get('confirmNewPassword').touched) {
          <div class="error-message">
            {{ getErrorMessage('confirmNewPassword') }}
          </div>
        }
      </div>
    </div>
    <button class="confirm" type="submit">Reset Password</button>
  </form>
</div>

@if (showModal) {
  <app-modal-message [message]="modalMessage" 
    (closeModal)="closeModal()"></app-modal-message>
}
