@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:host {
    background-color: #f1eee7;
    font-family: "Montserrat", sans-serif;
}

.add-artwork {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Montserrat, sans-serif;
}

.modal {
    background-color: #E2D6C8;
    margin-top: 10%;
    margin-bottom: 5%;
    padding:  60px;
    border-radius: 10px;
    width: 60%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-content {
    display: flex;
    flex-direction: column;
}

h1 {
    color: #4D493E;
    font-size: 24px;
    margin-bottom: 20px;
}

.content {
    display: flex;
}

.divider {
    border: none;
    border-left: 1px solid #C1B59F;
    height: auto;
    margin: 0 20px;
}

.left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.image-placeholder {
    width: 300px;
    height: 300px;
    background-color: #8E7C70;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-placeholder img {
    width: 70%;
    height: 100%;
    object-fit: cover;
}

.select-button {
    margin-bottom: 32px;
    background-color: #F1EEE7;
    border: none;
    padding: 5px 20px;
    color: #8E7C70;
    border-radius: 5px;
    cursor: pointer;
}

.right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 8px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    color: #51493e;
    margin-bottom: 5px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #d8c4b1;
    border-radius: 5px;
}

textarea {
    resize: none;
}

.form-actions {
    display: flex;
    justify-content: center;
    gap: 40px;
}

button.cancel {
    background-color: #8E7C70;
}

button.save {
    background-color: #3E3E3E;
}

.form-actions button {
    font-size: large;
    border: none;
    padding: 10px 20px;
    width: 50%;
    color: #FFFEFC;
    border-radius: 8px;
    cursor: pointer;
}


