@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:host {
    background-color: #f1eee7;
    font-family: "Montserrat", sans-serif;
}

.add-artwork {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Montserrat, sans-serif;
}

.modal {
    background-color: #d6c4b3;
    margin-top: 10%;
    margin-bottom: 5%;
    padding:  60px;
    border-radius: 10px;
    width: 60%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.modal:hover {
    transform: scale(1.02); 
}

.modal-content {
    position: relative;
    border-radius: 10px;
    width: 95%;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #4D493E;
    font-size: xx-large;
    margin: 0;
    margin-bottom: 20px;
}

.content {
    display: flex;
}

.divider {
    border: none;
    border-left: 1px solid #C1B59F;
    height: auto;
    margin: 0 20px;
}

.left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-small;
}

.image-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.artwork-pic-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.artwork-pic-group:hover {
    transform: scale(1.05); 
}

.artwork-pic-label {
    width: 350px;
    height: 400px;
    background-color: #8E7C70;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.artwork-pic-label img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artwork-pic-input {
    display: none;
}

.select-button {
    margin-bottom: 32px;
    background-color: #F1EEE7;
    border: none;
    padding: 5px 20px;
    color: #8E7C70;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 8px;
    font-size: 0.9em;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    color: #51493e;
    margin-bottom: 4px;
}

input, textarea {
    height: 23px;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #F1EEE7;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: Montserrat, sans-serif;
}

textarea {
    resize: none;
    height: 200px;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 16px;
    background-color: #F1EEE7;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: Montserrat, sans-serif;
}

.form-actions {
    display: flex;
    justify-content: center;
    gap: 40px;
}

button.cancel {
    background-color: #8E7C70;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button.save {
    background-color: #3E3E3E;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button:hover {
    transform: translateY(-5px);
}

button.save:hover {
    background-color: #555;
}

.form-actions button {
    font-size: large;
    border: none;
    padding: 10px 20px;
    width: 50%;
    color: #FFFEFC;
    border-radius: 8px;
    cursor: pointer;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    font-size: 0.7em;
    position: absolute;
    top: -10px; 
    right: -15px;
    width: 80%;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1;
    pointer-events: none;
}
  
.error-message::before {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 10px;
    border-width: 10px;
    border-style: solid;
    border-color: #f8d7da transparent transparent transparent;
}
  
.form-group .error-message {
    position: absolute;
    top: -10px; 
    right: -15px;
    width: 80%;
}

input[type="text"].ng-touched.ng-invalid,
input[type="date"].ng-touched.ng-invalid {
    border: 1px solid #721c24;
}
  
.form-group input.ng-touched.ng-invalid ~ .error-message,
.form-group input.ng-dirty.ng-invalid ~ .error-message {
    opacity: 0.8;
    visibility: visible;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .modal {
        margin-top: 20%;
        margin-bottom: 10%;
        max-width: 60%;
        padding: 30px;
    }

    .modal-content {
        position: initial;
        width: 100%;
        align-items: center;
    }
    
    h1 {
        font-size: medium;
        margin-bottom: 12px;
    }
    
    .form-actions {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
    }

    .divider {
        display: none;
    }

    .content {
        flex-direction: column;
    }

    .left-column {
        margin: 0;
        padding: 0;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .right-column {
        margin: 0;
        padding: 0;
        flex-direction: column;
        font-size: x-small;
    }

    .artwork-pic-label {
        width: 120px;
        height: 150px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .select-button {
        margin-bottom: 16px;
        max-width: 80%;
        padding: 5px 8px;
        font-size: xx-small;
    }

    input {
        height: 23px;
        width: 100%;
        padding: 4px;
        box-sizing: border-box;
        font-size: xx-small;
    }

    textarea {
        height: 150px;
        width: 95%;
        font-size: xx-small;
    }

    .form-actions {
        flex-direction: row;
        gap: 8px;
    }

    .form-actions button {
        font-size: small;
    }

    .error-message {
        padding: 5px;
        border-radius: 5px;
        font-size: 0.3em;
        top: 0px; 
        width: 70%;
    }
      
    .error-message::before {
        bottom: -10px;
        left: 10px;
        border-width: 5px;
    }
      
    .form-group .error-message {
        top: 0px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .modal {
        margin-top: 10%;
    }
} 
