<app-header></app-header> 
<div class="add-artwork">
    <div class="modal">
        <div class="modal-content">
            <h1>Add New Artwork</h1>
            <div class="content">
                <div class="left-column">
                    <div class="image-upload">
                        <div class="image-placeholder">
                            <img 
                                id="artwork-placeholder" 
                                src="../../assets/icons/placeholder_image.png" 
                                alt="Artwork Placeholder">
                            <button 
                                class="select-button">
                                Select from computer
                            </button>
                        </div>
                        
                    </div>
                </div>
                <hr class="divider">
                <div class="right-column">
                    <div class="form-group">
                        <label for="title">Artwork Title:</label>
                        <input type="text" id="title" name="title">
                    </div>
                    <div class="form-group">
                        <label for="date">Date Created:</label>
                        <input type="date" id="date" name="date">
                    </div>
                    <div class="form-group">
                        <label for="details">Artwork Details:</label>
                        <textarea 
                            id="details" 
                            name="details" 
                            rows="4" 
                            placeholder="Add description for your piece..."></textarea>
                    </div>
                    <div class="form-actions">
                        <button class="cancel">Cancel</button>
                        <button class="save">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
