<div class="artwork-details">
  @if(artwork) {
    <div class="modal">
      <div class="modal-content">
        <div class="content">
          <div class="left-column">
            <div class="image-upload">
              <div class="image-placeholder">
                <img 
                  [src]="artwork.image_url ? getAbsoluteUrl(artwork.image_url) : 
                      '../../assets/icons/placeholder_image.png'" 
                  alt="Artwork Image">
              </div>
            </div>
          </div>
          <hr class="divider">
          <div class="right-column">
            <div class="details-group">
              <h1 class="artwork-title">{{ artwork.title }}</h1>
              <p class="username">by {{ artwork.first_name }} 
                  {{ artwork.last_name }}</p>
              <label for="date">Date Created: <span>{{ artwork.date_created |
                  date: 'MMMM dd, yyyy' }}</span></label>
              <p class="description">{{ artwork.description }}</p>
              <button class="edit-button" (click)="editArtwork(artwork)">
                    Edit Details</button>
            </div>         
          </div>
        </div>
        <button class="close-button" (click)="closeDetails()">
          <mat-icon>navigate_before</mat-icon> BACK
        </button>
      </div>
    </div>
  }
</div>
