<app-header></app-header> 
<div class="artwork-details">
    <div class="modal">
        <div class="modal-content">
            <div class="content">
                <div class="left-column">
                    <div class="image-upload">
                        <div class="image-placeholder">
                            <img 
                                id="artwork-placeholder" 
                                src="../../assets/icons/placeholder_image.png" 
                                alt="Artwork Placeholder">
                        </div>
                    </div>
                </div>
                <hr class="divider">
                <div class="right-column">
                    <div class="details-group">
                        <h1 class="artwork-title">Artwork Title</h1>
                        <p class="username">by Artist</p>

                        <label for="date">Date Created:</label>

                        <p class="description">Lorem ipsum dolor sit amet, 
                            consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliqua.</p>
                        <button class="edit-button">Edit Details</button>
                    </div>         
                </div>
            </div>
            <button class="close-button">&times;</button>
        </div>
    </div>
</div>