<div class="help-container">
    <h1>Help & Support</h1>
    <p>Here to offer assistance and support whenever you need it.</p>

    <div class="contents">
        <form [formGroup]="helpForm" (ngSubmit)="onSubmit()">
            <div class="form-group left-column">           
                <label for="image-upload">Upload an Image:</label>
                <label 
                    for="upload-pic" 
                    class="upload-pic-label">
                    <img 
                        id="img_placeholder"
                        src="../../../assets/icons/placeholder_image.png" 
                        alt="Image Placeholder">
                </label>
            </div>

            <div class="right-column">
                <label for="message">What issues are you having?</label>
                <div class="form-group">
                    <textarea
                        class="message"
                        id="message" 
                        formControlName="message"
                        rows="4"
                        placeholder="Please enter a message..."></textarea> 
                    @if(helpForm.get('message').touched && 
                        helpForm.get('message').invalid) {
                            <div class="error-message"> 
                                {{ getErrorMessage('message') }}
                            </div>
                    }
                </div>
                
                <div class="submit-button">
                    <button>
                        Submit
                    </button>
                </div>  
            </div>
        </form>
    </div>
</div>
