<div class="help-container">
    <h1>Help & Support</h1>
    <p>Here to offer assistance and support whenever you need it.</p>

    <div class="contents">
        <div class="left-column">
            <form>
                <label for="image-upload">Upload an Image:</label>
                <label 
                    for="upload-pic" 
                    class="upload-pic-label">
                    <img 
                        id="img_placeholder"
                        src="../../../assets/icons/placeholder_image.png" 
                        alt="Image Placeholder">
                </label>
            </form>
        </div>
        <div class="right-column">
            <form>
                <label for="message">What issues are you having?</label>
                <textarea
                    class="message"
                    id="message" 
                    rows="4"
                    placeholder="Please enter a message..."></textarea> 
            </form>
            <div class="submit-button">
            <button>
                Submit
            </button>
            </div>  
        </div>
    </div>
</div>
