<div class="change-email-container">
    <h1>Change Email</h1>
    <p>Change your current email to a new one.</p>
    <form [formGroup]="changeEmailForm" (ngSubmit)="onSubmit()">
        <label for="new-email">New Email:</label>
        <div class="form-group">
            <input 
                type="email"
                id="new_email" 
                formControlName="email" 
                placeholder="Enter your new email address"
                required>
            @if(changeEmailForm.get('email').touched && 
                changeEmailForm.get('email').invalid) {
                    <div class="error-message"> 
                    {{ getErrorMessage('email') }}
                    </div>
            }
        </div>
        
        <label for="password">Password:</label>
        <div class="form-group">
            <div class="password-container">
                <input 
                    [type]="hidePassword ? 'password' : 'text'" 
                    id="password" 
                    formControlName="password" 
                    placeholder="Enter your password"
                    required>
                @if(changeEmailForm.get('password').touched && 
                    changeEmailForm.get('password').invalid) {
                        <div class="error-message"> 
                            {{ getErrorMessage('password') }}
                        </div>
                }
                <img
                    src="../../assets/icons/{{ hidePassword ?
                        'unsee' : 'see' }}.png"
                    alt="Toggle Password Visibility"
                    class="toggle-password"
                    (click)="togglePasswordVisibility()"/>
            </div>
        </div>
        
        <button class="change-email-button" type="submit">
            Change Email
        </button>
    </form>
</div>