<div class="change-email-container">
    <h1>Change Email</h1>
    <p>Change your current email to a new one.</p>
    <form>
        <label for="current-email">Current Email:</label>
        <input 
            type="email" 
            id="current_email" 
            name="currentEmail" 
            placeholder="Enter your current email address"
            required>
        
        <label for="new-email">New Email:</label>
        <input 
            type="email"
            id="new_email" 
            name="newEmail" 
            placeholder="Enter an new email address"
            required>
        
        <label for="password">Password:</label>
        <div class="password-container">
            <input 
                [type]="hidePassword ? 'password' : 'text'" 
                id="password" 
                name="password" 
                placeholder="Enter your password"
                required>
            <img
                src="../../assets/icons/{{ hidePassword ?
                    'unsee' : 'see' }}.png"
                alt="Toggle Password Visibility"
                class="toggle-password"
                (click)="togglePasswordVisibility()"/>
        </div>

        <button class="change-email-button">
            Change Email
        </button>
    </form>
</div>
