<div class="modal" [ngClass]="{'show': (showModal$ | async)}">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Kajas App Privacy Policy</h2>
    <div class="privacy-policy">
      <p>Midknight is committed to protecting your privacy. This Privacy Policy 
        explains how we collect, use, disclose, and safeguard your information 
        when you use the Kajas App ("App"). By using the App, you consent to 
        the practices described in this Privacy Policy.</p>
      <ol>
        <li>
          <h3>Information We Collect</h3>
          <p>We may collect the following types of information when you use 
            the App:</p>
          <h4>Personal Information</h4>
          <ul>
            <li>Account Information: When you create an account, we collect 
              your name, email address (Gmail), and password.</li>
            <li>Profile Information: When you set up your profile, we collect 
              additional information such as your profile picture and any other 
              details you choose to provide.</li>
          </ul>
          <h4>Non-Personal Information</h4>
          <ul>
            <li>Usage Data: We may collect information about how you use the 
              App, including your interactions with other users, the content 
              you view, and the features you use.</li>
            <li>Device Information: We may collect information about the device 
              you use to access the App, including the device's unique 
              identifier, operating system, and browser type.</li>
          </ul>
        </li>
        <li>
          <h3>How We Use Your Information</h3>
          <p>We use the information we collect for the following purposes:</p>
          <ul>
            <li>To provide, operate, and maintain the App.</li>
            <li>To improve, personalize, and expand our App.</li>
            <li>To understand and analyze how you use our App.</li>
            <li>To develop new products, services, features, and 
              functionality.</li>
            <li>To communicate with you, either directly or through one of our 
              partners, including for customer service, to provide you with 
              updates and other information relating to the App, and for 
              marketing and promotional purposes.</li>
            <li>To process your transactions and manage your orders.</li>
            <li>To find and prevent fraud.</li>
          </ul>
        </li>
        <li>
          <h3>How We Share Your Information</h3>
          <p>We may share your information in the following situations:</p>
          <ul>
            <li>With other users of the App as part of the normal operation 
              of the App.</li>
            <li>With service providers who perform services on our behalf.</li>
            <li>To comply with legal obligations or to protect and defend our 
              rights and property.</li>
            <li>In connection with a merger, acquisition, or sale of all or a 
              portion of our assets.</li>
          </ul>
        </li>
        <li>
          <h3>Data Security</h3>
          <p>We implement appropriate technical and organizational measures to 
            protect the security of your personal information. However, please 
            note that no method of transmission over the Internet or method of 
            electronic storage is completely secure.</p>
        </li>
        <li>
          <h3>Your Data Protection Rights</h3>
          <p>You have the right to access, update, or delete your personal 
            information. If you wish to exercise any of these rights, please 
            contact us at <a href="mailto:midknightsv3@gmail.com">
              midknightsv3&#64;gmail.com.</a></p>
        </li>
        <li>
          <h3>Changes to This Privacy Policy</h3>
          <p>We may update our Privacy Policy from time to time. We will notify 
            you of any changes by posting the new Privacy Policy on the App. 
            You are advised to review this Privacy Policy periodically for any 
            changes.</p>
        </li>
        <li>
          <h3>Contact Us</h3>
          <p>If you have any questions about this Privacy Policy, please 
            contact us at <a href="mailto:midknightsv3@gmail.com">
              midknightsv3&#64;gmail.com.</a></p>
        </li>
      </ol>
      <p>By using the Kajas App, you acknowledge that you have read, understood,
         and agree to be bound by this Privacy Policy.</p>
    </div>
  </div>
</div>
