<app-cta-banner></app-cta-banner>
<app-cta-header></app-cta-header>

<div class="container">
    <div class="not-found-container">
        <div class="image-container">
            <img src="../../assets/404.png" alt="not found">
        </div>
        <div class="message-container">
            <div class="message">
                <h1>OOPS!</h1>
                <h2>Page Not Found</h2>
                <p>It looks like the page you're looking for doesn't exist.</p>
            </div>
            <div class="go-back-button">
                <button class="back-button" routerLink="/">Go to Home</button>
            </div>
        </div>
    </div>
</div>
