h2 {
    color: #3E3E3E;
    font-size: xx-large;
    margin-bottom: 24px;
}

h3 {
    color: #3E3E3E;
    font-size: large;
}

.privacy-link {
    color: #3E3E3E;
    font-weight: bold;
}

.privacy-link:hover {
    text-decoration: underline;
}

.terms-and-conditions {
    margin-top: 20px;
}

.privacy-link {
    color: #3E3E3E;
    font-weight: bold;
}

.privacy-link:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    h2 {
        font-size: large;
        margin-bottom: 12px;
    }

    .terms-and-conditions {
        margin-top: 10px;
    }

    li, h3 {
        font-size: smaller;
    }

    p {
        font-size: x-small;
    }
}
