<div class="change-password-container">
    <h1>Change Password</h1>
    <p>Change your current password to a new one.</p>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <label for="current-password">Current Password:</label>
        <div class="form-group password-container">
            <input 
                [type]="hideCurrentPassword ? 'password' : 'text'" 
                id="current_password" 
                formControlName="currentPassword" 
                placeholder="Enter your current password"
                required>
            <img
                src="../../assets/icons/{{ hideCurrentPassword ? 
                    'unsee' : 'see' }}.png"
                alt="Toggle Password Visibility"
                class="toggle-password"
                (click)="togglePasswordVisibility('current')"/>
            @if(changePasswordForm.get('currentPassword').touched && 
                changePasswordForm.get('currentPassword').invalid) {
                    <div class="error-message"> 
                        {{ getErrorMessage('currentPassword') }}
                    </div>
            }
        </div>

        <label for="new-password">New Password:</label>
        <div class="form-group password-container">
            <input 
                [type]="hideNewPassword ? 'password' : 'text'"  
                id="new_password" 
                formControlName="newPassword" 
                placeholder="Enter your new password"
                required>
            <img
                src="../../assets/icons/{{ hideNewPassword ? 
                    'unsee' : 'see' }}.png"
                alt="Toggle Password Visibility"
                class="toggle-password"
                (click)="togglePasswordVisibility('new')"/>
            @if(changePasswordForm.get('newPassword').touched && 
                changePasswordForm.get('newPassword').invalid) {
                    <div class="error-message"> 
                        {{ getErrorMessage('newPassword') }}
                    </div>
            }
        </div>

        <label for="confirm-password">Confirm New Password:</label>
        <div class="form-group password-container">
            <input 
                [type]="hideConfirmPassword ? 'password' : 'text'" 
                id="confirm_password" 
                formControlName="confirmPassword" 
                placeholder="Confirm the new password"
                required>
            <img
                src="../../assets/icons/{{ hideConfirmPassword ? 
                    'unsee' : 'see' }}.png"
                alt="Toggle Password Visibility"
                class="toggle-password"
                (click)="togglePasswordVisibility('confirm')"/>
            @if(changePasswordForm.get('confirmPassword').touched && 
                changePasswordForm.get('confirmPassword').invalid) {
                    <div class="error-message"> 
                        {{ getErrorMessage('confirmPassword') }}
                    </div>
            }
        </div>

        <button class="change-password-button">
            Change Password
        </button>
    </form>
</div>

@if (showLoader) {
    <app-loader-modal [message]="modalMessage"></app-loader-modal>
}