<div class="change-password-container">
    <h1>Change Password</h1>
    <p>Change your current password to a new one.</p>
    <form>
        <label for="current-password">Current Password:</label>
        <div class="password-container">
            <input 
                [type]="hideCurrentPassword ? 'password' : 'text'" 
                id="current_password" 
                name="currentPassword" 
                placeholder="Enter your current password"
                required>
            <img
                src="../../assets/icons/{{ hideCurrentPassword ? 'unsee' : 'see' }}.png"
                alt="Toggle Password Visibility"
                class="toggle-password"
                (click)="togglePasswordVisibility('current')"/>
        </div>

        <label for="new-password">New Password:</label>
        <div class="password-container">
            <input 
                [type]="hideNewPassword ? 'password' : 'text'"  
                id="new_password" 
                name="newPassword" 
                placeholder="Enter your new password"
                required>
            <img
                src="../../assets/icons/{{ hideNewPassword ? 'unsee' : 'see' }}.png"
                alt="Toggle Password Visibility"
                class="toggle-password"
                (click)="togglePasswordVisibility('new')"/>
        </div>

        <label for="confirm-password">Confirm New Password:</label>
        <div class="password-container">
            <input 
                [type]="hideConfirmPassword ? 'password' : 'text'" 
                id="confirm_password" 
                name="confirmPassword" 
                placeholder="Confirm the new password"
                required>
            <img
                src="../../assets/icons/{{ hideConfirmPassword ? 'unsee' : 'see' }}.png"
                alt="Toggle Password Visibility"
                class="toggle-password"
                (click)="togglePasswordVisibility('confirm')"/>
        </div>
    </form>
  
    <button class="change-password-button">
        Change Password
    </button>
</div>