.deactivate-container {
    margin-left: 23px;
    overflow: hidden;
    max-width: 100%;
}

h1 {
    color: #4D493E;
    font-size: xx-large;
    margin: 0;
    margin-bottom: 8px;
}

p {
    color: #8E7C70;
    font-size: 16px;
    margin-bottom: 23px;
}

form label {
    display: flex;
    font-size: 12px;
}

form input {
    height: 16px;
    width: 50%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #F1EEE7;
    border: 1px solid #ccc;
    border-radius: 8px;
}

input::placeholder {
    color: grey;
    opacity: 1;
    font-family: Montserrat, sans-serif;
}

.password-container {
    position: relative;
    width: 50%;
}

.password-container input {
    width: 50%;
}

img.toggle-password {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
}

.deactivate-button {
    margin-top: 23px;
    width: 30%;
    padding: 8px;
    background-color: #e43647;
    color: #FFF;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.deactivate-button:hover {
    background-color: #790808;
    transform: translateY(-5px);
}

form .form-group {
    position: relative;
    width: 100%;
    margin-bottom: 5px; 
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    font-size: 0.7em;
    position: absolute;
    top: -30px; 
    right: 30%;
    width: 50%;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1;
    pointer-events: none;
}
  
.error-message::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 10px;
    border-width: 10px;
    border-style: solid;
    border-color: #f8d7da transparent transparent transparent;
}

input[type="password"].ng-touched.ng-invalid {
    border: 1px solid #721c24;
}
  
.form-group input.ng-touched.ng-invalid ~ .error-message,
.form-group input.ng-dirty.ng-invalid ~ .error-message {
    opacity: 0.8;
    visibility: visible;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .deactivate-container {
        margin-left: 0;
    }
    
    h1 {
        font-size: small;
        margin-top: 25px;
    }

    p {
        color: #8E7C70;
        font-size: x-small;
        margin-bottom: 16px;
    }

    form label {
        display: flex;
        font-size: 8px;
    }
    
    form input {
        height: 8px;
        width: 80%;
        padding: 8px;
        margin-top: 8px;
        font-size: x-small;
    }

    .password-container input {
        width: 80%;
        font-size: 10px;
    }

    input::placeholder {
        font-size: xx-small;
    }

    img.toggle-password {
        right: 16%;
        width: 16px;
    }

    .deactivate-button {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 50%;
        font-size: xx-small;
    }

    .error-message {
        padding: 5px;
        border-radius: 5px;
        font-size: 0.3em;
        top: -20px; 
        width: 70%;
        right: 0;
    }
      
    .error-message::before {
        bottom: -10px;
        left: 10px;
        border-width: 5px;
    }
      
    .form-group .error-message {
        top: -20px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .modal {
        margin-top: 10%;
    }

    h1 {
        font-size: medium;
    }

    img.toggle-password {
        right: 30%;
    }

    form input {
        width: 70%;
    }

    .password-container input {
        width: 70%;
    }

    .error-message {
        font-size: xx-small;
        width: 50%;
        right: 0;
    }
}